:root {
    --bg-color: #F5F5F5;
    --fg-color: #1D3246;
    --fg-scnd-color: #E2E8F0;
    --accent-color: #0055FF;

    --font-primary: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    --spacing-m: 1.5rem;
    --spacing-xl: 4rem;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font-primary);
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    max-inline-size: 50rem;
    margin: 0 auto;
    padding: var(--spacing-xl) var(--spacing-m);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-inline-size: 19.375rem;
    margin: 0 auto;
    gap: clamp(16px, 8vw, 64px);
}

.nav__link {
    color: var(--fg-color);
    text-decoration: none;
    font-weight: 700;
    padding-block-end: .3125rem;
    border-bottom: 2px solid var(--fg-scnd-color);
}

.header_wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    container-type: inline-size;
}

.header__title {
    font-size: clamp(48px, 14vw, 96px);
    font-weight: 900;
    width: 100%;
    white-space: nowrap;
    color: var(--accent-color);
}

.header__subtitle {
    color: var(--accent-color);
    font-size: clamp(22px, 5vw, 32px);

    @media (min-width: 800px) {
        font-size: 32px;
    }
}
